**/.git
**/.gitignore
**/bin
**/obj
**/node_modules
**/Dockerfile*
**/docker-compose*
**/npm-debug.log
**/secrets.dev.yaml
**/values.dev.yaml
LICENSE
README.md

# Não ignore arquivos importantes de projeto
!**/*.csproj
!**/*.sln
!Eventos/**
